/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  font-family: 'Roboto';
}

*{
  margin: 0;
  padding: 0;
}

.container-page{
  min-height: 100%;
  margin: auto;
  margin-top: -56px;
  width: auto;
  max-width: 85%;
  background-color: rgb(218, 218, 218);
  padding-top:50px;
}

.container-main{
  overflow: auto;
}

.h1-title{
  text-align: center;
  padding-top: 2%;
}
