$default-padding: 16px;
$default-font-size: 20px;

#container-AboutHead{
  align-content: flex-end;
  width: auto;
  height: auto;
  margin-top: 2%;
}

#table-skills{
  width: 100%;
  text-align: center;
}

#table-skills th{
  font-size: $default-font-size;
  padding-bottom: $default-padding;
}

#img-profile{
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  margin: $default-padding;
  float: left;
  box-shadow: 5px 5px 2px grey;
}

#img-pdf{
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.p-section{
  font-size: $default-font-size;
  padding-left: $default-padding;
}

.h2-section{
  display: block;
  padding-left: $default-padding;
  padding-top: $default-padding;
}

.document-link{
  vertical-align: bottom;
  font-size: $default-font-size;
  color: #212529;
}

.document-link:hover{
  color: #007bff;
}

.document-container{
  display: flex;
  align-items: center;
}

#container-AfterImage{
  clear: left;
}

.ul-logo li{
  display: inline;
  margin-left: 45px;
}

.img-logo{
  width: auto;
  height: auto;
  max-height: 75px;
  max-width: 75px;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 8px;
}

.clear-ele{
  clear: both;
}
