<div class="container-page">
  <div class="container-main">
    <div class="animated fadeIn mb-4">
        <div id="container-AboutHead">
          <img id="img-profile" src="../../assets/static/images/profileImage/profilepic.jpeg" alt="Image not available">
          <h1 class="h1-title">About</h1>
          <p class="p-section">Hello! My name is Chris Meyer, I am a computer science major with passion for web-development and
              machine learning. As a big believer in self-development I constantly push myself to develop in new languages and
              frameworks.
            </p>
        </div>
        <div id="container-AfterImage">
          <h2 class="h2-section">Education</h2>
          <p class="p-section">I graduated California State University of Long Beach (CSULB) in the summer of 2019 with a Bachelors
            Degree in Computer Science. While attending college I was involved with the Association of Computer Machinery (ACM). Part
            of my involvement included teaching students the fundamentals of cybersecurity and its uses in the web.
          </p>
        </div>
        <div>
          <h2 class="h2-section">Web Frameworks and Languages</h2>
          <p class="p-section">The following is a list of the web frameworks I commonly use;</p>
          <ul id="ul-logo">
            <li><img id="img-logo" src="../../assets/static/images/logo/angularlogo.png"></li>
            <li><img id="img-logo" src="../../assets/static/images/logo/mongodblogo.png"></li>
            <li><img id="img-logo" src="../../assets/static/images/logo/expresslogo.png"></li>
            <li><img id="img-logo" src="../../assets/static/images/logo/vuejslogo.png"></li>
            <li><img id="img-logo" src="../../assets/static/images/logo/dotnetLogo.jpg"></li>
          </ul>
          <p class="p-section">And the languages used with the frameworks;</p>
          <ul id="ul-logo">
              <li><img id="img-logo" src="../../assets/static/images/logo/javascriptlogo.png"></li>
              <li><img id="img-logo" src="../../assets/static/images/logo/scsslogo.png"></li>
              <li><img id="img-logo" src="../../assets/static/images/logo/html5logo.png"></li>
              <li><img id="img-logo" src="../../assets/static/images/logo/cSharpLogo.png"></li>
            </ul>
        </div>
        <div>
            <h2 class="h2-section">Resume</h2>
              <div class="document-container">
                <p class="p-section">
                  <a class="document-link" href="../../assets/static/pdfs/Resume-7-5-19 Online.pdf" download>
                  <img id="img-pdf" src="../../assets/static/images/symbols/pdfSymbol.png">
                  Feel free to download and view my resume for more revelant information!
                  </a>
                </p>
              </div>
        </div>
        <br>
    </div>
  </div>
</div>
