<div id="container-page">
  <div id="container-main">
    <div class="animated fadeIn mb-4">
        <div id="container-AboutHead">
          <img id="img-profile" src="../../assets/static/images/profilepic.jpeg" alt="Image not available">
          <h1 class="h1-section">About</h1>
          <p class="p-section">Hello! My name is Chris Meyer, I am a computer science major with passion for web-development and
            machine learning. As a big believer in self-development I constantly push myself to develop in new languages and
            frameworks.
          </p>
        </div>
        <div id="container-AfterImage">
          <h2 class="h2-section">Education</h2>
          <p class="p-section">I graduated California State University of Long Beach (CSULB) in the summer of 2019 with a Bachelors
            Degree in Computer Science. While attending college I was involved with the Association of Computer Machinery (ACM). Part
            of my involvement included teaching students the fundamentals of cybersecurity and its uses in the web.
          </p>
        </div>
        <div>
            <h2 class="h2-section">Resume</h2>
            <p class="p-section">Feel free to download and view my resume for more revelant information!</p>
              <div class="document-container">
                  <img id="img-pdf" src="../../assets/static/images/pdfSymbol.png">
                  <a class="document-link" href="/" download>Resume Last Updated: July 5th 2019</a>
              </div>
        </div>
        <div>
          <h2 class="h2-section">Hobbies</h2>
          <p class="p-section">A large part of my free time is spent working on fun side-projects like this one!
            On the odd times that you don't catch me progamming I'm most likely doing one of the following activities;
          </p>
        </div>
        <br>
    </div>
  </div>
</div>
