<div class="container-page">
  <div class="container-main">
    <div class="animated fadeIn mb-4">
        <h1 class="h1-title">Projects</h1>
        <div class="container-projects">
          <p class="p-section">
            Select a project icon to view any of the projects I have been working on.
          </p>
          <table id="table-pages">
            <tr>
              <td>
                <div class="div-page">
                  <a class="a-page" routerLink="/projects/pointmap">
                    <img class="img-logo shadow-anim" src="../../../../assets/static/images/logo/pointmaplogo.jpg">
                  </a>
                  <p class="p-title">PointMap</p>
                  <p class="p-github">
                    <a target="_blank" href="https://github.com/CECS-491A/NHT-pointMap">
                      Github Repository <mdb-icon fab icon="github"></mdb-icon>
                    </a>
                  </p>
                </div>
              </td>
              <td>
                <p class="p-desc">A geospatial mapping application utilizing Google Maps API, developed in .Net Framework,
                    SQL Server, and VueJS
                </p>
              </td>
            </tr>
            <tr>
                <td>
                  <div class="div-page">
                    <a class="a-page" routerLink="/projects/cmsite">
                      <img class="img-logo shadow-anim" src="../../../../assets/static/images/logo/sitelogo.png">
                    </a>
                    <p class="p-title">CM Site</p>
                    <p class="p-github">
                      <a target="_blank" href="https://github.com/ChrisMeyer7088/ChrisMeyerSite">
                        Github Repository <mdb-icon fab icon="github"></mdb-icon>
                      </a>
                    </p>
                  </div>
                </td>
                <td>
                  <p class="p-desc">
                    Personal website to showcase my experinces and projects, developed in Angular and Express.
                  </p>
                </td>
              </tr>
              <tr>
                  <td>
                    <div class="div-page">
                      <a class="a-page" routerLink="/projects/giftme">
                        <img class="img-logo shadow-anim" src="../../../../assets/static/images/logo/giftmelogo.jpeg">
                      </a>
                      <p class="p-title">GiftMe</p>
                      <p class="p-github">
                        <a target="_blank" href="https://github.com/CECS-491A/NHT-pointMap">
                          Github Repository <mdb-icon fab icon="github"></mdb-icon>
                        </a>
                      </p>
                    </div>
                  </td>
                  <td>
                    <p class="p-desc">
                      A white elephant gift exchange site in early development utilizing the MEAN stack.
                    </p>
                  </td>
                </tr>
          </table>
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
