$default-padding: 16px;
$default-font-size: 20px;

#container-page{
  min-height: 100%;
  width: 85%;
  background-color: bisque;
  margin: auto;
  margin-top: -56px;
  padding-top: 70px
}

#container-main{
  overflow: auto;
  margin: auto;
  padding-bottom: 50px;
  padding-left: $default-padding;
}

#h1-title{
  text-align: center;
  padding-top: 2%;
}

#TJCAA, #GA{
  margin-bottom: 3%;
}

#header-GA{
  padding-left: $default-padding;
}

.h3-position{
  display: inline;
}

.h3-date{
  float: right;
  padding-right: $default-padding;
}

.p-section{
  font-size: $default-font-size;
  padding-left: $default-padding;
  padding-right: 48px;
  text-indent: 32px;
}

.img-work{
  width: 600px;
  height: 350px;
  float:right;
  margin-left: 5%;
}

.container-desc{
  display: block;
  margin-top: 32px;
  overflow: auto;
}

.ul-tasks{
  font-size: $default-font-size;
  padding-left: $default-padding;
  list-style: inside;
}

.ul-tasks li{
  padding-left: $default-padding;
  padding-top: 8px;
}
