$default-padding: 16px;
$default-font-size: 20px;

#TJCAA, #GA{
  margin-bottom: 3%;
}

#header-GA{
  padding-left: $default-padding;
}

.h3-position{
  display: inline;
}

.h3-date{
  float: right;
  padding-right: $default-padding;
}

.p-section{
  font-size: $default-font-size;
  padding-left: $default-padding;
  padding-right: 3%;
  text-indent: 2.5%;
  margin-bottom: 0;
}

.img-work{
  width: 40%;
  height: auto;
  float:right;
  margin-left: 5%;
}

.img-workTJC{
  width: 35%;
  height: auto;
  float:right;
  margin-left: 5%;
}

.container-desc{
  display: block;
  margin-top: 2%;
  overflow: auto;
  clear: both;
}

.ul-tasks{
  font-size: $default-font-size;
  padding-left: $default-padding;
  list-style: inside;
  margin-bottom: 0;

}

.ul-tasks li{
  padding-left: $default-padding;
  padding-top: 8px;
}

.p-caption{
  float: right;
  position: inherit;
  font-size: $default-font-size;
  text-align: center;
  padding-left: 3%;
  width: 50%;
  clear: both;
}

.p-captionTJC{
  float: right;
  position: inherit;
  font-size: $default-font-size;
  text-align: center;
  padding-left: 3%;
  width: 40%;
  clear: both;
}
