<div id="container">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">CM Site</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>About Me</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a routerLink="/experience" class="nav-link waves-light" mdbWavesEffect>Work History</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a routerLink="/projects" class="nav-link waves-light" mdbWavesEffect>Projects</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
            <a routerLink="/games" class="nav-link waves-light" mdbWavesEffect>Games</a>
        </li>

        <!-- Dropdown
        <li [routerLinkActive]="['active']" class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Past Projects<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a routerLink="/projects/cmsite" class="dropdown-item waves-light" mdbWavesEffect href="#">This Site!</a>
            <a routerLink="/projects/pointmap" class="dropdown-item waves-light" mdbWavesEffect href="#">PointMap</a>
            <a routerLink="/projects/giftme" class="dropdown-item waves-light" mdbWavesEffect href="#">GiftMe</a>
          </div>
        </li> -->

      </ul>
      <!-- Icon Links -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/christophermeyer101/">
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/ChrisMeyer7088">
            <mdb-icon fab icon="github"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>

  </mdb-navbar>
</div>
