$footer-height:50px;
#footer{
  position: relative;
  height: $footer-height;
  margin-top: -50px;
  clear: both;
  text-align: center;
  background-color: #3f729b;
  color: #fff;
}

.footer-p{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#a-contact, #a-contact:visited, #a-contact:active{
  color: inherit;
}

#a-contact:active{
  color: #fff;
}

#a-contact:hover{
  color: rgba(255, 255, 255, 0.76);
}
