<div class="container-page">
  <div class="container-main">
    <div class="animated fadeIn mb-4">
        <div>
            <h1 class="h1-title">Welcome</h1>
        </div>
        <div class="h2-summary">
            <h2>Purpose</h2>
            <p>This site is designed to keep a record of my experince and previous work! As I grow as a web developer
              (Or find myself with more free time) the site will grow in functionality!
            </p>
        </div>
        <app-contact-form-component></app-contact-form-component>
      </div>
  </div>
</div>
