.h1-title{
  padding-top: 2%;
  text-align: center;
}

.h2-summary{
  padding-left: 1%;
  width: 50%;
  padding-bottom: 4%;
}

#container-main{
  overflow: auto;
  margin: auto;
  padding-bottom: 50px;
}

#container-page{
  min-height: 100%;
  width: 85%;
  background-color: bisque;
  margin: auto;
  margin-top: -56px;
  padding-top: 50px
}
