<div class="container-page">
    <div class="container-main">
      <div class="animated fadeIn mb-4">
        <h1 class="h1-title">CM Site</h1>
        <div class="container-project">
          <h3>Purpose</h3>
          <p class="p-section">The CM Site is my personal website that I started working on in the Summer of 2019. This site was built
            to give me more practical experince in developing the UI of a website and as a log of my experince and projects.
          </p>
          <br>
          <h3>Framework and Languages</h3>
          <p class="p-section">
            This site is a Single Page Application (SPA) built out with the Angular and Node-Express framework. The backend is written
            in vanilla JS while the frontend this site was built with typescript, SCSS and HTML.
          </p>
          <h3>Functionality</h3>
          <ul class="ul-functionality">
          The following is the current list of functionality this site provides;
            <li>
              Rendering of static images, HTML, and SCSS into the DOM through the Rendering and JavaScript Engine
            </li>
            <li>
              CORS request to the Backend API Route of a message subject and body thorugh the Contact form. The backend will then
              email a valid request to a mail server using SMTP.
            </li>
          </ul>
          <h3>Dependencies</h3>
          <ul class="ul-functionality">
            <li>MD Bootstrap for Angular</li>
            <li>Flash Messages</li>
            <li>Body Parser</li>
            <li>CORS</li>
          </ul>
          <a target="_blank" href="https://github.com/ChrisMeyer7088/ChrisMeyerSite">
            <h3>Repository
              <mdb-icon fab icon="github"></mdb-icon>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
