$default-padding: 12px;
$default-font-size: 20px;

.container-content{
  padding-left: $default-padding;
}

.p-section{
  font-size: $default-font-size;
  padding-left: $default-padding;
  margin-right: 3%;
}

.ul-frameworks{
  font-size: $default-font-size;
  padding-left: $default-padding;
  padding-bottom: $default-padding;
  list-style: inside;
  margin-right: 3%;
}

.ul-frameworks li{
  padding-left: $default-padding;
  padding-top: 8px;
}

.container-section{
  padding-left: $default-padding;
  clear: both;
}

.img-pic-lrg{
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.container-end{
  padding-bottom: 3%;
  clear: both;
  font-size: $default-font-size;
}

.header-section{
  padding-top: $default-padding;
}
