$color-size: 14px;

#container-canvas {
  text-align: center;
  margin: 16px;
}

#container-easel {
  position: relative;
  margin: auto;
}

.img-easel-sm {
  width: 300px;
  height: 350px
}

.img-easel-lg {
  width: 550px;
  height: 590px;
}

#myCanvas {
  background-color: white;
  position: absolute;
  z-index: 1;
}

.canvas-lg {
  top: 12%;
  left: 23.6%;
}

.canvas-sm {
  top: 12%;
  left: 23.3%;
}

#myCanvas:hover {
  cursor: pointer;
}

.button-animal {
  background-color: white;
  box-shadow: 3px 3px 5px grey;
  margin: 8px;
  padding: 0 8px;
}

.button-canvas-clear {
  background-color:white;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 3px 3px 5px grey;
}

.container-colors {
  padding-top: 8px;
}

.button-canvas-size, .button-canvas-color {
  margin-right: $color-size;
  margin-top: $color-size;
  border-radius: 60%;
  border: none;
}

.button-canvas-color {
  padding: $color-size;
}

#color-black {
  background-color: black;
}

#color-blue {
  background-color: blue;
}

#color-red {
  background-color: red;
}

#color-green {
  background-color: green;
}

#color-yellow {
  background-color: yellow;
}

#color-white {
  background-color: white;
}

#size-small {
  background-color: white;
}

#size-medium {
  background-color: white;
}

#size-large {
  background-color: white;
}

.img-size{
  width: 30px;
  height: 30px;
}
